* {
    margin-top: 35px;
    font-family: 'Libre Franklin', sans-serif;
    margin-right: 145px;
    color: white;
    margin-bottom: 0px;
}

body{
	background: #0B2161
}

#contenedor{
	width: 960px;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}

header{
	background: #FFFFFF;
	font-size: 24px;
	height: 50%;
	float: left
}

nav{
	background: #F0B429;
	height: 05px ;
}

nav li{
	background: #F0B429;
	list-style: none;
	padding: 05px 0px;
}

nav a{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Libre Franklin', sans-serif;
	text-decoration: none;
	padding: 5px;
}

nav a:hover{
	background: #FFFFFF
}

#contenido{
	float: center;
	width: 100px;
	background: #0B2161;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	

}

h1{
	padding: 10px;
	color: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	font-family: 'Libre Franklin', sans-serif;
}

p{
	font-size: 13px;
	padding: 10px;
	color: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	font-family: 'Libre Franklin', sans-serif;
}

aside{
	float: left;
	width: 150px;
	background: #FFFFFF;
	margin-top: 15px;
	border-radius: 10px;
}

